# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environment
venv/
.env/
.venv/

# Environment variables
.env
.env.local

# Logs and databases
*.log
*.sqlite

# Testing
.coverage
.pytest_cache/

# System files
.DS_Store
Thumbs.db

# IDEA
.idea/
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/workspace.xml